@font-face {
  font-family: 'Omni';
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('../fonts/raleway-medium-webfont.woff') format('woff'),
    url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
    url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
  font-family $font-face

main
  width $mainW
  margin 0 auto

.divider
  height 1px
  background-color #ccc
  width 100%
