html
  font-family $font-face
  background-color #eee

main
  width $mainW
  margin 0 auto
  background-color #fff
  padding 2em 3em

.font-smaller
  font-size smaller

.divider
  height 1px
  background-color #ccc
  width 100%
