header
  height $header
  color $primaryFontColor
  background-color $primaryColor
  position relative
  padding 0 10px
  h4
    position absolute
    top 50%
    transform translateY(-50%)
    margin 0
    a
      color $primaryFontColor
      text-decoration none
