.topics
  list-style none
  & > li
    width 100%
    padding 10px 6px
    position relative
    border-radius 1px
    &:hover
      background-color #eee

    & > .count
      width 60px
    & > .tab
      position relative
      bottom 2px
      padding 2px 4px
      background-color lightness($secondaryFontColor, 90%)
      color lightness($secondaryFontColor, 30%)
      margin-right 4px
      &.top
        background-color green
        color $primaryFontColor
      &.good
        background-color lightness(#0000FF, 60%)
        color $primaryFontColor

    & > .count, & > .tab
      display inline-block
      font-size .7rem
      border-radius 1px

    & > a
      position relative
      display inline-block
      bottom -5px
      color $secondaryFontColor
      font-size 1.15rem
      text-decoration none
      width 70%
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
    & > img
      width 30px
      height 30px
      border-radius 2px
    & > .time
      position relative
      display inline-block
      bottom -7px
      float right
      font-size .7rem

.topics-filter
  list-style-type: disc;
  margin-left 40px
  margin-top 1em

  & > a
    color lightness($secondaryFontColor, 20%)
    padding 2px 4px
    border-radius 2px
    text-decoration none
    &.active
      background-color $primaryColor
      color $primaryFontColor

.topic
  & > .title
    text-align center
  & > .info
    text-align center
    span
      margin-right 4px
    [class^="icon-"]
      margin-right 2px
  & > .content
    letter-spacing -0.003em
    color lightness($secondaryFontColor, 22.5%)
    p
      position relative
    img
      max-width 90%
      position relative
      left: 50%;
      transform: translate(-50%,0);
    p, li
      line-height 1.5em
  blockquote
    margin-left -8px
    padding-left 4px
    font-style italic
    border-left 3px solid rgba(0, 0, 0, .8);

