//size
$header = 50px
$mainW=786px

//color
$primaryColor = $secondaryFontColor = #000
$primaryFontColor = #fff


$font-face=unquote('"Omni", "Open Sans", Helvetica, Tahoma, Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;')


