<nav class="topics-filter">
  <a href="javascript:;" (click)="changeTab('')" [ngClass]="{active: tab===''}">全部</a>
  <a href="javascript:;" (click)="changeTab('good')" [ngClass]="{active: tab==='good'}">精华</a>
  <a href="javascript:;" (click)="changeTab('share')" [ngClass]="{active: tab==='share'}">分享</a>
  <a href="javascript:;" (click)="changeTab('ask')" [ngClass]="{active: tab==='ask'}">问答</a>
  <a href="javascript:;" (click)="changeTab('job')" [ngClass]="{active: tab==='job'}">招聘</a>
</nav>

<ul class="topics" (window:scroll)="onScroll($event)">
  <li *ngFor="let topic of topics">
    <!--<img src="{{topic.author.avatar_url}}" alt="{{topic.author.loginname}}">-->
    <div class="count" [ngStyle]="{'width.px': tab==='good'?80:false}">
      <small class="views">{{topic.visit_count}}</small>
      /
      <small class="replies">{{topic.reply_count}}</small>
    </div>
    <span class="tab" *ngIf="!tab&&topic.tab||topic.good||topic.top" [ngClass]="{top: topic.top,good:topic.good}">
      {{topic.tab | tab:topic.good:topic.top}}
    </span>
    <a [routerLink]="['/topic',topic.id]" class="title" title="{{topic.title}}">{{topic.title}}</a>
    <small class="time">{{timeagoInstance.format(topic.last_reply_at,'zh_CN')}}</small>
  </li>
</ul>

<div class="loader-inner-wrap">
  <div class="loader-inner ball-scale-multiple">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
